PORT=3001
NODE_ENV=production

# Server Host reference
SERVER_HOST=localhost # Update this to server public IP for frontend proxying if needed

# Frontend configuration
NEXT_PUBLIC_API_URL=/api

# Add your database connections and secrets below
DATABASE_URL="file:./database.db"
# JWT_SECRET=... 
