# Ignore everything by default
/*

# Unignore directories
!frontend/
!backend/

# Unignore root configuration files
!.gitignore
!README.md
!README-FLASH.md
!docker-compose.yml

# Re-ignore dependency and build folders inside subdirectories
**/node_modules/
**/.next/
**/build/
**/dist/
**/*.log
# **/database.db  # Commenté pour partager la DB avec l'équipe
# **/database.db-journal
**/uploads/*
!**/uploads/.gitkeep
